<div class="container is-fluid">
  <h2 class='title'>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :username, 'ユーザー名', class: 'label' %>
      <p class="help">例：@username</p>
      <div class="control has-icons-left">
        <%= f.text_field :username , class: 'input is-medium' %>
        <span class="icon is-small is-left">
          <i class="far fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <%= f.label :email, 'Eメール', class: 'label' %>
      <div class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-medium' %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <%= f.label :password, 'パスワード', class: 'label' %>
      <div class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password", class: 'input is-medium' %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> パスワードの最小文字数)</em>
        <% end %><br />
      </div>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'パスワード確認', class: 'label' %>
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-medium' %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: 'button is-primary is-medium' %>
    </div>
  <% end %><br />

  <%= render "devise/shared/links" %>

</div>