<section class="comment-editor">
    <% if user_signed_in? %>
        <%= form_with model: Comment.new, url: story_comments_path(story), local: false, class: 'comment_form' do |form| %>        
            <%= form.text_area :content, rows: 5, class: "textarea is-small" %>
            <%= form.button '投稿する', class: "button is-primary is-fullwidth" %>
        <% end %> 
    <% else %>
        <br>
        <%= link_to 'ログイン', new_user_session_path, class: 'button is-success' %>
        <%= link_to '新規登録', new_user_registration_path, class: 'button is-info' %>
    <% end %>
</section>