  <section class="section">
    <div class="container">
    <h2 class="title is-4 has-text-primary">人気記事ランキング</h2>
    <hr>
      <section class="columns">
        <!-- left -->
        <section class="column">
          <article>
            <% @clap.first(1).each do |story|  %>
              <figure class="image">
                <%= image_tag story.cover_image.variant(resize: '300x150') if story.cover_image.attached? %>
              </figure><br>
                <h2 class="title is-4"><%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
                <p class="content has-text-grey"><%= strip_tags(story.content).truncate(200) %></p>
              <footer>
                <p class="has-text-grey-dark"> <%= story.user.username %> </p>
                <p class="has-text-grey-dark"> <%= time_ago_in_words(story.created_at) %> </p>
              </footer>
            <% end %>
          </article>
        </section>
        <!-- left -->
        <!-- middle -->
        <section class="column">
          <% @clap[2, 4].each do |story| %>
            <article class="media">
              <figure class="media-left">
                <%= image_tag story.cover_image.variant(resize: '100x100') if story.cover_image.attached? %>
              </figure>
              <div class="media-content middle-right">
                <h2 class="title is-5"><%= link_to story.title.truncate(20), story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
                <footer>
                  <p class="has-text-grey-dark"> <%= story.user.username %> </p>
                  <p class="has-text-grey-dark"> <%= time_ago_in_words(story.created_at) %> </p>
                </footer>
              </div>
            </article>
          <% end %>
        </section>
        <!-- middle -->
        <!-- right -->
        <section class="column">
          <% @clap[1, 1].each do |story| %>
            <article>
              <figure class="image">
                <%= image_tag story.cover_image.variant(resize: '350x200') if story.cover_image.attached?  %>
              </figure><br>
              <h2 class="title is-5"><%= link_to story.title.truncate(20), story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
              <p class="content has-text-grey"><%= strip_tags(story.content).truncate(200) %></p>
              <footer>
                <p class="has-text-grey-dark"> <%= story.user.username %> </p>
                <p class="has-text-grey-dark"> <%= time_ago_in_words(story.created_at) %> </p>
              </footer>
            </article>
          <% end %>
        </section>
        <!-- right -->
      </section>

      <hr>

      <section class="columns">
        <!-- article list -->
        <section class="column is-two-thirds">
            <h2 class="title is-4 has-text-primary">最新記事一覧</h2>
            <hr>
            <% @stories.first(10).each do |story| %>
                <article class="media">
                    <div class="media-content">
                        <h2 class="title is-4"> <%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %> </h2>
                        <p class="content"> <%= strip_tags(story.content).truncate(200) %> </p>
                        <footer>
                            <p><%= link_to story.user.username, user_page_path(story.user.username, story), class: 'has-text-grey-dark' %> | <%= time_ago_in_words(story.created_at) %></p>
                        </footer>
                    </div>
                    <figure class="media-right">
                        <% if story.cover_image.attached? %>
                          <%= image_tag story.cover_image.variant(resize: '150x150') %>
                        <% else %>
                          
                        <% end %>
                    </figure>
                </article>
            <% end %>
        </section>
        <!-- article list -->

        <section class="column">
          <h2 class="title is-4 has-text-primary">ランダム記事一覧</h2>
          <hr>
            <% @stories.sample(@range).each do |story| %>
              <article class="media">   
                <div class="media-left">
                  <i class="fas fa-book has-text-dark"></i>
                </div>
                <div class="media-content">
                  <p class="title is-5"><%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></p>
                  <footer>
                    <p class="content has-text-grey"><%= strip_tags(story.content).truncate(50) %></p>
                  </footer>
                </div>
              </article>
            <% end %>
          </section>
        </section>
      </section>
    </div>
  </section>