<% if story.errors.any? %>
    <div class="notification is-danger">
        <%= story.errors.full_messages.to_sentence %>
    </div>
<% end %>

<%= form_for(story) do |form| %>
    <div class="field">
        <%= form.label :cover_image, '記事画像' %><br>
        <%= form.file_field :cover_image %>
        <%= image_tag story.cover_image.variant(resize: '800x600'), class: 'cover_image' if story.cover_image.attached? %>
    </div>

    <div class="field">
        <%= form.label :title, '記事タイトル'  %>
        <%= form.text_field :title, class: 'input is-primary is-medium' %>
    </div>
    <div class="field">
        <%= form.label :content, '內容'  %>
        <%= form.text_area :content, rows: 10, class: 'textarea is-primary is-medium' %>
    </div>
    <div class="field">
        <%= form.submit '保存', name: 'save_as_draft', class: 'button is-medium' %>
        <%= form.submit '投稿する', name: 'publish', class: 'button is-medium is-primary' if story.may_publish? %>
        <%= form.submit '下書き', name: 'unpublish', class: 'button is-medium is-danger' if story.may_unpublish? %>
    </div>
<% end %>